name: Build Ansible EE Images

on:
  push:
    branches: ["master", "main"]
    tags: ["v*"]
  pull_request:
    branches: ["master", "main"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Read Version
        id: version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Build and Push Base Image
        run: |
          make base \
            DOCKER=docker \
            BUILD_CMD="buildx build --push" \
            PLATFORMS="linux/amd64,linux/arm64" \
            REGISTRY=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} \
            BUILD_ARGS="--cache-from type=gha,scope=base --cache-to type=gha,mode=max,scope=base"

      - name: Build and Push K3s Image
        run: |
          make k3s \
            DOCKER=docker \
            BUILD_CMD="buildx build --push" \
            PLATFORMS="linux/amd64,linux/arm64" \
            REGISTRY=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} \
            BUILD_ARGS="--cache-from type=gha,scope=k3s --cache-to type=gha,mode=max,scope=k3s"
